<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TicketOnlineApp.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".Activity.Ticket.MyTicketActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.User.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.User.ConfirmationProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.User.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.User.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Booking.MovieCheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Booking.ChooseSeatActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Booking.SelectCinemaActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Booking.SuccessCheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.User.SplashActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Wallet.MyWalletActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Wallet.SuccessTopUpActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Wallet.TopUpActivity"
            android:exported="false" />
    </application>

</manifest>